In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
bom = pd.read_csv(r"C:\Users\Magda\OneDrive\Documents\Flatiron\bom.movie_gross.csv")
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [3]:
bom1 = bom.copy(deep=True)

In [4]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [5]:
bom.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [6]:
bom['foreign_gross'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
3382     True
3383     True
3384     True
3385     True
3386     True
Name: foreign_gross, Length: 3387, dtype: bool

In [7]:
# Convert the 'foreign_gross' column to string type
bom['foreign_gross'] = bom['foreign_gross'].astype(str)

# Remove commas from the 'foreign_gross' columb
bom['foreign_gross'] = bom['foreign_gross'].str.replace(',', '')

# Convert the 'foreign_gross' column to float
bom['foreign_gross'] = bom['foreign_gross'].astype(float)
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [8]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

CHECK MISSING VALUES AND SEE WHAT CAN BE DROPPED. WILL BE USING DATA SETS

In [9]:
bom.isnull().values.any()

True

In [10]:
bom.isnull().sum().sum()

1383

CHECK THE SKEWNESS OF THE MISSING VALUE FOREIGN GROSS COLUMN

In [11]:
# Checking the skewness of the dataset
bom['domestic_gross'].skew()

4.720031959348764

the skewness is positive more to the right hence using median for filling in the data instead of dropping the foreign gross
column.

In [12]:
bom['foreign_gross'].skew()

3.0947640140216217

In [13]:
bom['domestic_gross'].median()

1400000.0

In [14]:
bom['foreign_gross'].median()

18700000.0

FILLING IN THE MISSING VALUES

In [15]:
bom['domestic_gross'] = bom['domestic_gross'].fillna(1400000.0)

In [16]:
bom['foreign_gross'] = bom['foreign_gross'].fillna(18700000.0)

In [17]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3387 non-null   float64
 3   foreign_gross   3387 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [18]:
bom['year'].dtype

dtype('int64')

In [19]:
bom['year']

0       2010
1       2010
2       2010
3       2010
4       2010
        ...
3382    2018
3383    2018
3384    2018
3385    2018
3386    2018
Name: year, Length: 3387, dtype: int64

In [20]:
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,18700000.0,2018
3383,Edward II (2018 re-release),FM,4800.0,18700000.0,2018
3384,El Pacto,Sony,2500.0,18700000.0,2018
3385,The Swan,Synergetic,2400.0,18700000.0,2018
3386,An Actor Prepares,Grav.,1700.0,18700000.0,2018

In [21]:
bom.groupby('studio').sum()

,title,domestic_gross,foreign_gross,year
studio,,,,
3D,Sea Rex 3D: Journey to a Prehistoric World,6100000.0,9900000.0,2010
A23,Revenge of the Electric CarRed Obsession,164200.0,37400000.0,4024
A24,Spring BreakersThe Bling RingThe Spectacular N...,324194200.0,799462200.0,98754
ADC,A Royal Night OutAbsolutely Anything,248200.0,37400000.0,4032
AF,BarbaraSister (2012)Caesar Must DieOmarBethleh...,2142900.0,78300000.0,12080
...,...,...,...,...
XL,Storm Surfers 3DJimi: All Is By My Side,458000.0,37400000.0,4027
YFG,Papa: Hemingway in Cuba,1100000.0,18700000.0,2016
Yash,Band Baaja BaaraatBadmaash CompanyMere Brother...,33031400.0,403725100.0,28194
Zee,Rustom,1100000.0,571000.0,2016
Zeit.,Mid-August LunchVisionLast Train HomeThe TreeB...,5663500.0,226000000.0,32206

In [22]:
bom.groupby('title').sum()

                               studio  domestic_gross  foreign_gross  year
title
'71                             RAtt.       1300000.0       355000.0  2015
1,000 Times Good Night             FM         53900.0     18700000.0  2014
10 Cloverfield Lane              Par.      72100000.0     38100000.0  2016
10 Years                        Anch.        203000.0     18700000.0  2012
1001 Grams                         KL         11000.0     18700000.0  2015
...                               ...             ...            ...   ...
Zoolander 2                      Par.      28800000.0     27900000.0  2016
Zootopia                           BV     341300000.0    682500000.0  2016
[Rec] 2                         Magn.         27800.0     18500000.0  2010
mother!                          Par.      17800000.0     26700000.0  2017
xXx: The Return of Xander Cage   Par.      44900000.0    301200000.0  2017

[3386 rows x 4 columns]

In [24]:
bom.duplicated().sum()

0

In [26]:
bom.to_csv(r'C:\Users\Magda\OneDrive\Documents\Flatiron\cleaned_bom.movie_gross.csv', index=False)